 *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
    background: url(./img/earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
 #countries{
    width: 360px;
    height: 210px;
    border: 2px solid black;
    margin: 1em auto;
    border-radius: 10px;
 }

 .azerbaycan{
   background-image: url(./img/Flag_of_Azerbaijan.svg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.turkiye{
   background-image: url(./img/Flag_of_Turkey.svg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.almaniya{
   box-shadow: inset 0 70px black, inset 0 140px red, inset 0 210px yellow;
}

.italiya{
   box-shadow: inset 120px 0 green, inset 240px 0 white, inset 360px 0 red;
}

.hollandiya{
   box-shadow: inset 0 70px rgb(173,29,37), inset 0 140px white, inset 0 210px rgb(30,71,133) ;
}

.finlandiya{
   background: url(./img/Flag_of_Finland_\(bordered\).svg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.norvec{
   background: url(./img/Flag_of_Norway.svg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.isvec{
   background: url(./img/Flag_of_Sweden.svg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}






 #names{
    width: 100%;
    text-align: center;
 }

#names ul{
    list-style-type: none;

 }

 ul li{
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    padding: 0.5em;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    border-radius: 10px;
 }

 ul li:hover{
    font-weight: bolder;
    background-color: green;
 }

 #pictures{
    width: 500px;
    height: 250px;
    border: 2px solid black;
    margin: 1em auto;
 }
 #picture img{
    width: 100%;
    max-width: 100%;
 }

.azerbaycanimg{
    background-image: url(./img/1215844-baku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.turkiyeimg{
    background: url(./img/174612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .almaniyaimg{
    background: url(./img/Germany-1.jpg);
    background-repeat: no-repeat;
 }

.italiyaimg{
   background: url(./img/Rome-Tile.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.hollandiyaimg{
   background: url(./img/holland.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.finlandiyaimg{
   background: url(./img/___Finland_Aurora_dome_Jeris_Antti_Pietikäinen.12422788202013340987.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.norvecimg{
   background: url(./img/norway.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.isvecimg{
   background: url(./img/sweden.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}






 @media only screen and (max-width: 900px) {
   ul li{
     margin: 0.25em;
   }
 }
 @media only screen and (max-width: 400px) {
   ul li{
     display: block;
     width: 95%;
     margin: 0.25em auto;
   }
 }